* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(22, 160, 162);
}

body {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(121, 32, 153, 1) 86%);
}

.div {
    width: 650px;
    margin: 0px auto;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 5px;
    margin-top: 50px;
}

form {
    display: flex;
    width: 600px;
    margin: 0px auto;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.form1 {
    display: grid;
    grid-template-columns: 290px 290px;
    gap: 20px;
}

.failed {
    padding: 10px;
    border: none;
    border: 1px solid rgb(34, 193, 195);
}
.failed:focus
{
    outline: 2px solid rgb(34, 193, 195);
}
textarea {
    resize: none;
    
}
h3
{
    color: white;
}
.card {
    display: flex;
    justify-content: space-between;
    border: 4px solid rgba(121, 32, 153, 1);
    width: 650px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
}
button {
    background-color: rgba(121, 32, 153, 1);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    font-size: 20px;
    padding: 4px;
}